name: Test
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    # Schedule twice a month, on the 1st and the 15th
    - cron: '0 0 1,15 * *'
jobs:
  gcc:
    strategy:
      fail-fast: false
      matrix:
        include:
          # 18.04 is too old to get working with newer GitHub actions, so skip it for now
          # - ubuntu: 18.04
          #   gcc: gcc-7
          #   gxx: g++-7
          - ubuntu: 20.04
            gcc: gcc-8
            gxx: g++-8
          - ubuntu: 24.04
            gcc: gcc-9
            gxx: g++-9
          - ubuntu: 24.04
            gcc: gcc-10
            gxx: g++-10
          - ubuntu: 24.04
            gcc: gcc-11
            gxx: g++-11
          - ubuntu: 24.04
            gcc: gcc-12
            gxx: g++-12
          - ubuntu: 24.04
            gcc: gcc-13
            gxx: g++-13
          - ubuntu: 24.04
            gcc: gcc-14
            gxx: g++-14
    runs-on: ubuntu-latest
    container: ubuntu:${{ matrix.ubuntu }}
    steps:
    - name: Install dependencies
      run: |
        apt update
        DEBIAN_FRONTEND=noninteractive apt install -q -y tzdata
        apt install -q -y build-essential ${{ matrix.gcc }} ${{ matrix.gxx }} ${{ matrix.gcc }}-plugin-dev
        ${{ matrix.gcc }} --version
        ${{ matrix.gxx }} --version
    - name: Install test dependencies
      run: |
        apt install -q -y lttng-tools liblttng-ust-dev babeltrace
        lttng --version
        babeltrace
    - uses: actions/checkout@v6
    - name: Build
      run: |
        make TARGET_GCC=${{ matrix.gcc }} CXX=${{ matrix.gxx }}
    - name: Test
      run: |
        make TARGET_GCC=${{ matrix.gcc }} CXX=${{ matrix.gxx }} verify
        make TARGET_GCC=${{ matrix.gcc }} CXX=${{ matrix.gxx }} test
        make TARGET_GCC=${{ matrix.gcc }} CXX=${{ matrix.gxx }} test_utils
